In [1]:
a=1

In [2]:
b=2

In [3]:
c=a+b

In [4]:
print(c)

3

In [5]:
print(a+b)

3

In [7]:
import os
os.getcwd()

'E:\\eBooks\\Data_Science\\Python\\Online_Board Infinity\\Students'

In [8]:
print(a)

1

In [9]:
print(b)

2

# Hi

## My name is Darshan Ingle

### I am a trainer at Board Infinity

#### This is AUG03 batch.

# Hi

## My name is Darshan Ingle

### I am a trainer at Board Infinity

#### This is AUG03 batch.

__I hope now you know the ways to open a Jupyter NB.__

___End of markdown features.___

There are two types of gender as follows:

>1. Male

>2. Female

https://medium.com/ibm-data-science-experience/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed